body{
    background-image: url(./image/nighty.jpg);
    overflow: auto;
    margin: 30px;
}

.classee a{
    color: white;
}
.classee a:hover{
    box-shadow: 0 0 20px plum;
    background-color: whitesmoke;
    color: black;
    transform: scale(1.1);
    transition: 0.3s ease;
}
.container{
    position: relative;
    align-items: center;
    gap: 20px;
}
.horizon{
    font-size: 50px;
    text-align: center;
    text-shadow: 0 0 30px rgba(245, 130, 130, 0.675);
}
#date{
    font-size: 20px;
    text-align: center;
    font-weight:bolder;
    color: white;
}
#title{
    text-align: center;
    font-family: fantasy;
    font-size: 28px;
    font-weight: 100;
    color: white;
}
#image{
    border: 5px solid rgb(37, 37, 37);
    border-radius: 15px;
    display: block;
    margin: 0 auto;
    height: 500px;
    width: 75%;
}
#description{
    color: white;
    text-align: center;
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}